 [template]
 src   = "nginx.conf.tmpl"
 dest  = "/etc/nginx/nginx.conf"
 owner = "root"
 group = "root"
 mode  = "0644"
 keys = [
 "/nginx/ssl/enabled",
 "/nginx/ssl/server/name",
 "/nginx/ssl/certificate",
 "/nginx/ssl/certificate/key"
 ]
 check_cmd = "/opt/ir-service/bin/check.sh {{ .src }}"
